[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

# Rider / JetBrains
.idea/
*.sln.iml
[Aa]ssets/Plugins/Editor/JetBrains*

# VS Code
.vscode/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

# Системные и временные файлы
*.tmp
*.temp
*.log
*.bak
*.orig
*.cache
*.DS_Store
Thumbs.db

# node / npm
node_modules/

# Unity Addressables
[Aa]ssets/AddressableAssetsData/*/*.bin*
[Aa]ssets/StreamingAssets/aa.meta
[Aa]ssets/StreamingAssets/aa/*

# Python
__pycache__/
*.pyc

!/[Aa]ssets/**/*.meta
!/[Pp]rojectSettings/**/*.meta
